<!DOCTYPE html>
{% load static repl %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Responsive CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>

<body>
    <div class="catagories-side-menu">
        <!-- Close Icon -->
        <div id="sideMenuClose">
            <i class="ti-close"></i>
        </div>
        <!--  Side Nav  -->
        <div class="nav-side-menu">
            <div class="menu-list">
                <h6>Categories</h6>
                <ul id="menu-content" class="menu-content collapse out">
                    {% for key, value in categories.items %}
                        <li data-toggle="collapse" data-target="#{{ key }}" class="collapsed active">
                            <a href="#">{{ key|replace }} <span class="arrow"></span></a>
                            <ul class="sub-menu collapse" id="{{ key }}">
                                {% for elem in value %}
                                    <li><a href="{% url 'shop' %}{{ key }}/{{ elem }}">{{ elem|replace }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="wrapper">

        <!-- ****** Header Area Start ****** -->
        <header class="header_area">
            <!-- Top Header Area Start -->
            <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">

                        <div class="col-12 col-lg-8">
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area -->
                                <div class="top_logo">
                                    <a href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                                </div>
                                <!-- Cart & Menu Area -->
                                <div class="header-cart-menu d-flex align-items-center ml-auto">
                                    {% if request.user.is_authenticated %}
                                    <!-- Cart Area -->
                                        <div class="cart">
                                            <a href="#" id="header-cart-btn" target="_blank"><span class="cart_quantity">{{ cart.0.keys|length }}</span> <i class="ti-bag"></i> Your Bag ${% if cart %}{{ cart.1 }}{% else %}is Empty{% endif %}</a>
                                            <!-- Cart List Area Start -->
                                            <ul class="cart-list">
                                                {% if cart.0 %}
                                                    {% for v, i in cart.0.items %}
                                                        <li>
                                                            <a href="{% url 'product-details' %}{{ i.2 }}" class="image"><img src="{{ STATIC_URL}}{{ i.1 }}" class="cart-thumb" alt=""></a>
                                                            <div class="cart-item-desc">
                                                                <h6>
                                                                    <a href="{% url 'product-details' %}{{ i.2 }}">{{ v }} ({{ i.3 }})</a>
                                                                    {% if i.4 < 1 %}
                                                                    <div class="a-red small-text">The product is over!</div>
                                                                    {% endif %}
                                                                </h6>

                                                                <p>{{ i.5 }}x - <span class="price">${{ i.0 }}</span></p>
                                                            </div>
                                                            <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                                        </li>
                                                    {% endfor %}
                                                {% endif%}
                                                <li class="total">
                                                    <a href="{% url 'cart' %}" class="btn btn-sm btn-cart">Cart</a>
                                                    {% if cart.0 %}<a href="{% url 'checkout' %}" class="btn btn-sm btn-checkout">Checkout</a> {% endif %}
                                                    <a href="{% url 'purchases' %}" class="btn btn-sm btn-purchases">Purchases</a>
                                                    <br><br>
                                                    <span class="pull-left">Total: ${{ cart.1 }}</span>
                                                    <div class="pull-right btn">
                                                        <a class="btn-sm" href="{% url 'settings' %}">🙍🏻‍♂️🔧</a>
                                                        <a class="btn-sm btn-logout" href="{% url 'logout' %}">Log Out</a>
                                                    </div><br>
                                                </li>
                                            </ul>
                                        </div>
                                    {% else %}
                                        <div>
                                            <a href="{% url 'login' %}">Log In</a>
                                        </div>
                                    {% endif %}
                                    <div class="header-right-side-menu ml-15">
                                        <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                <a href="{{ pinterest }}"><span class="karl-level">Share</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="{{ facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="{{ twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="{{ linkedIn }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <!-- Menu Area -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                            <li class="nav-item"><a class="nav-link" href="{% url 'shop'%}">Shop</a></li>
                                            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                            <div class="help-line">
                                <a href="tel:{{ phone }}"><i class="ti-headphone-alt"></i>{{ phone_ed }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ****** Header Area End ****** -->

        {% block body %}{% endblock %}

        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                <img src="{% static 'img/core-img/logo.png' %}" alt="">
                            </div>
                            <div class="copywrite_text d-flex align-items-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="{% url 'settings' %}">My Account</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Afiliates</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Subscribe to our newsletter</h6>
                            </div>
                            <div class="subscribtion_form">
                                <form action="{% url 'subscribe' %}" method="get">
                                    <input type="email" name="mail" class="mail" placeholder="Your email here">
                                    <button type="submit" class="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>

                <!-- Footer Bottom Area Start -->
                <div class="footer_bottom_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer_social_area text-center">
                                <a href="{{ pinterest }}"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="{{ facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="{{ twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="{{ linkedIn }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>
    <!-- /.wrapper end -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

</body>

</html>