{% extends 'red/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
{% if cart.0.keys|length > 0 %}
    <!-- ****** Cart Area Start ****** -->
            <div class="cart_area section_padding_100 clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cart-table clearfix">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if cart %}
                                            {% for k, v in cart.0.items %}
                                                <tr>
                                                    <td class="cart_product_img d-flex align-items-center">
                                                        <a href="{% url 'product-details' %}{{ v.2 }}"><img src="{{ STATIC_URL}}{{ v.1 }}" alt="Product"></a>
                                                        <h6>{{ k }} ({{ v.3 }})</h6>
                                                    </td>
                                                    <td class="price"><span>${{ v.0 }}</span></td>
                                                    <td class="qty">
                                                        <div class="quantity">
                                                            <input type="number" class="qty-text" id="qty" name="quantity" value="1" disabled>
                                                        </div>
                                                    </td>
                                                    <td class="total_price"><span>${{ v.0 }}</span></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="cart-footer d-flex mt-30">
                                <div class="back-to-shop w-50">
                                    <a href="{% url 'shop' %}">Continue shoping</a>
                                </div>
                                <div class="update-checkout w-50 text-right">
                                    <a href="{% url 'cart' %}?clear=True">clear cart</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="coupon-code-area mt-70">
                                <div class="cart-page-heading">
                                    <h5>Cupon code</h5>
                                    <p>Enter your cupone code</p>
                                </div>
                                <form action="#">
                                    <input type="search" name="search" placeholder="#U8f7DHk9" disabled>
                                    <button type="submit" disabled>Apply</button>
                                    <label style="color: #7a7a7a">The use of coupons is temporarily unavailable</label>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="shipping-method-area mt-70">
                                <div class="cart-page-heading">
                                    <h5>Shipping method</h5>
                                    <p>Select the one you want</p>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" checked>
                                    <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio3"><span>Personal Pickup</span><span>Free</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="cart-total-area mt-70">
                                <div class="cart-page-heading">
                                    <h5>Cart total</h5>
                                    <p>Final info</p>
                                </div>

                                <ul class="cart-total-chart">
                                    <li><span>Subtotal</span> <span>${{ cart.1 }}</span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span><strong>Total</strong></span> <span><strong>${{ cart.1 }}</strong></span></li>
                                </ul>
                                <a href="{% url 'checkout' %}" class="btn karl-checkout-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****** Cart Area End ****** -->
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center" style="margin-bottom:30%">
                <h4>You haven't added any products to the cart yet!</h4>
                <a href="{% url 'shop' %}"><h1 class="a-red">Go shopping!</h1></a>

            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}