{% extends 'red/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<!-- ****** Top Discount Area Start ****** -->
        <style>
            .top-discount-area .single-discount-area {
                -ms-flex: 0 0 {{ promos_width }}%;
                flex: 0 0 {{ promos_width }}%;
                max-width: 100%;
            }
        </style>
        <section class="top-discount-area d-md-flex align-items-center">
            <!-- Single Discount Area -->
            <div class="single-discount-area" style="background-color: #b8b8b8">
                <h5>Free Shipping &amp; Returns</h5>
                <h6><a href="#">BUY NOW</a></h6>
            </div>
            {% if promos %}
                {% for promo in promos %}
                    <div class="single-discount-area" style="background-color: #{{ promo.color }}">
                    <h5>{{ promo.description }}</h5>
                    <h6>USE CODE: {{ promo.promo }}</h6>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
        <!-- ****** Top Discount Area End ****** -->
        {% if fashions %}
        <!-- ****** Welcome Slides Area Start ****** -->
        <section class="welcome_area">
            <div class="welcome_slides owl-carousel">
                <!-- Single Slide Start -->
                {% for fashion in fashions %}
                    <div class="single_slide height-800 bg-img background-overlay" style="background-image: url('{{ STATIC_URL }}{{ fashion.image }}');">
                        <div class="container h-100">
                            <div class="row h-100 align-items-center">
                                <div class="col-12">
                                    <div class="welcome_slide_text">
                                        <h6 data-animation="{{ fashion.anim1 }}" data-delay="0" data-duration="500ms">{{ fashion.description }}</h6>
                                        <h2 data-animation="{{ fashion.anim2 }}" data-delay="500ms" data-duration="500ms">{{ fashion.name }}</h2>
                                        <a href="{{ fashion.link }}" class="btn karl-btn" data-animation="{{ fashion.anim3 }}" data-delay="1s" data-duration="500ms">{{ fashion.button_text }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        {% endif %}
        <!-- ****** Welcome Slides Area End ****** -->

        <!-- ****** Top Catagory Area Start ****** -->
        {% if fashion_minis %}
        <section class="top_catagory_area d-md-flex clearfix">
            <!-- Single Catagory -->
            {% for fashion_mini in fashion_minis %}
                <div class="single_catagory_area d-flex align-items-center bg-img" style="background-image: url('{{ STATIC_URL }}{{ fashion_mini.image }}');">
                    <div class="catagory-content">
                        <h6>{{ fashion_mini.description }}</h6>
                        <h2>{{ fashion_mini.name }}</h2>
                        <a href="{{ fashion_mini.link }}" class="btn karl-btn">{{ fashion_mini.button_text }}</a>
                    </div>
                </div>
            {% endfor %}
        </section>
        <!-- ****** Top Catagory Area End ****** -->
        {% endif %}

        <!-- ****** New Arrivals Area Start ****** -->
        <section class="new_arrivals_area section_padding_100_0 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_heading text-center">
                            <h2>New Arrivals</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% if products %}
                <div class="container">
                    <div class="row karl-new-arrivals">
                        {% for product in products %}
                            <!-- Single gallery Item Start -->
                            <div class="col-12 col-sm-6 col-md-4 single_gallery_item  wow fadeInUpBig" data-wow-delay="0.2s">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{ STATIC_URL }}{{ product.image }}" alt="">
                                    <div class="product-quicview">
                                        <a href="?id={{ product.id }}"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <h4 class="product-price" style="color: #ff084e">{% if product.prev_price > 0.0 %}<s style="color: #9f9f9f">${{ product.prev_price }}</s> {% endif %}${{ product.price }}</h4>
                                    <p>{{ product.name }}</p>
                                    <!-- Add to Cart -->
                                    <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </section>
        <!-- ****** New Arrivals Area End ****** -->

        <!-- ****** Offer Area Start ****** -->
        {% if hot %}
            <section class="offer_area height-700 section_padding_100 bg-img" style="background-image: url('{{ STATIC_URL }}{{ hot.image }}');">
                <div class="container h-100">
                    <div class="row h-100 align-items-end justify-content-end">
                        <div class="col-12 col-md-8 col-lg-6">
                            <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">
                                <h2>{{ hot.name }} <span class="karl-level">Hot</span></h2>
                                <p>{{ hot.description }}</p>
                                <div class="offer-product-price">
                                    <h3><span class="regular-price">${{ hot.prev_price }}</span> ${{ hot.price }}</h3>
                                </div>
                                <a href="{{ hot.link }}" class="btn karl-btn mt-30">{{ hot.button_text }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
        <!-- ****** Offer Area End ****** -->

        <!-- ****** Popular Brands Area Start ****** -->
        {% if reviews %}
            <section class="karl-testimonials-area section_padding_100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_heading text-center">
                                <h2>Reviews</h2>
                            </div>
                        </div>
                    </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8">
                                <div class="karl-testimonials-slides owl-carousel">
                                    <!-- Single Testimonial Area -->
                                    {% for review in reviews %}
                                        <div class="single-testimonial-area text-center">
                                            <span class="quote">"</span>
                                            <h6>{{ review.review }}</h6>
                                            <div class="testimonial-info d-flex align-items-center justify-content-center">
                                                <div class="tes-thumbnail">
                                                    <img src="{{ STATIC_URL }}{{ review.image }}" alt="">
                                                </div>
                                                <div class="testi-data">
                                                    <p>{{ review.name }}</p>
                                                    <span>{{ review.address }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                </div>
            </section>
        {% endif %}
        <!-- ****** Popular Brands Area End ****** -->
{% endblock %}