{% extends 'red/base.html' %}
{% load static repl %}
{% block title %}{{ title }}{{ product.name }}{% endblock %}
{% block body %}
<!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
        <div class="breadcumb_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ol class="breadcrumb d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'shop' %}{{ product.type }}">{{ product.type|replace}}</a></li>
                            <li class="breadcrumb-item active">{% if product.subtype and product.subtype != 'None'%}{{ product.subtype|replace }}{% endif %}</li>
                        </ol>
                        <!-- btn -->
                        <a href="{% url 'shop' %}{{ product.type }}{% if product.subtype and product.subtype != 'None'%}/{{ product.subtype }}{% endif %}" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->

        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
        <section class="single_product_details_area section_padding_0_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for path, imgs in product.image.items %}
                                        {% for img in imgs %}
                                            <li data-target="#product_details_slider" data-slide-to="{{ forloop.counter0 }}" style="background-image: url('{{ STATIC_URL }}{{ path }}/{{ img }}');">
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ol>

                                <div class="carousel-inner">
                                    {% for path, imgs in product.image.items %}
                                        {% for img in imgs %}
                                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                                <a class="gallery_img" href="{{ STATIC_URL }}{{ path }}/{{ img }}">
                                                <img class="d-block w-100" src="{{ STATIC_URL }}{{ path }}/{{ img }}" alt="Slide">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="single_product_desc">

                            <h4 class="title"><a href="#">{{ product.name }}</a></h4>

                            <h4 class="product-price" style="color: #ff084e">{% if product.prev_price > 0.0 %}<s style="color: #9f9f9f">${{ product.prev_price }}</s> {% endif %}${{ product.price }}</h4>

                            <p class="available">Available: <span class="text-muted">{% if product.count > 0 %}In{% else %}Out of{% endif %} Stock</span></p>

                            <div class="single_product_ratings mb-15">
                                {% for i in product.rating|_rating %}
                                    <i class="{{ i }}" aria-hidden="true"></i>
                                {% endfor %}
                            </div>

                            <form class="cart mb-50 d-flex" method="post">
                                {% csrf_token %}

                                <div class="widget size mb-50">
                                    {% if product.count > 0 %}
                                        <h6 class="widget-title">Size</h6>
                                    {% endif %}
                                    <div class="widget-desc">
                                        <ul>
                                                {% for i in form.size %}
                                                    <li>{{ i }}</li><br>
                                                {% endfor %}
                                        </ul>
                                    </div>
                                    <br>
                                    <!-- Add to Cart Form -->
                                    {% if product.count > 0 and request.user.is_authenticated %}
                                        <button type="submit" name="addtocart" class="btn cart-submit d-block">Add to cart</button>
                                    {% endif %}
                                </div>
                            </form>
                            <div id="accordion" role="tablist">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Cart Details</a>
                                        </h6>
                                    </div>
                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in veritatis officia inventore, tempore provident dignissimos nemo, nulla quaerat. Quibusdam non, eos, voluptatem reprehenderit hic nam! Laboriosam, sapiente! Praesentium.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magnam laborum eaque.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h6 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">shipping &amp; Returns</a>
                                        </h6>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint repudiandae suscipit ab soluta delectus voluptate, vero vitae, tempore maxime rerum iste dolorem mollitia perferendis distinctio. Quibusdam laboriosam rerum distinctio. Repudiandae fugit odit, sequi id!</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae qui maxime consequatur laudantium temporibus ad et. A optio inventore deleniti ipsa.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->
        {% if product.related %}
            <section class="you_may_like_area clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_heading text-center">
                                <h2>related Products</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="you_make_like_slider owl-carousel">

                                <!-- Single gallery Item -->
                                {% for prod in product.related %}
                                    <div class="single_gallery_item">
                                        <!-- Product Image -->
                                        <div class="product-img">
                                            <img src="{{ STATIC_URL }}{{ prod.image }}" alt="">
                                            <div class="product-quicview">
                                                <a href="{% url 'product-details' prod.slug %}"><i class="ti-plus"></i></a>
                                            </div>
                                        </div>
                                        <!-- Product Description -->
                                        <div class="product-description">
                                            <h4 class="product-price" style="color: #ff084e">{% if prod.prev_price > 0.0 %}<s style="color: #9f9f9f">${{ prod.prev_price }}</s> {% endif %}${{ prod.price }}</h4>
                                            <p>{{ prod.name }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
{% endblock %}