{% extends 'red/base.html' %}
{% load static repl %}
{% block title %}{{ title }}{% if type %} | {{ type }}{% endif %}{% if subtype %} | {{ subtype }}{% endif %}{% endblock %}
{% block body %}
        <section class="shop_grid_area section_padding_100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="shop_sidebar_area">

                            <div class="widget catagory mb-50">
                                <!--  Side Nav  -->
                                <div class="nav-side-menu">
                                    <h6 class="mb-0">Categories</h6>
                                    <div class="menu-list">
                                        <ul id="menu-content2" class="menu-content collapsed out">
                                            <!-- Single Item -->
                                            {% for key, value in categories.items %}
                                                <li data-toggle="collapse" data-target="#{{ key }}2" class="collapsed">
                                                    <a href="#">{{ key|replace  }}</a>
                                                    <ul class="sub-menu collapse" id="{{ key }}2">
                                                        {% for elem in value %}
                                                            <li><a href="{% url 'shop' %}{{ key }}/{{ elem }}">{{ elem|replace }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="widget color mb-70">
                                <h6 class="widget-title mb-30">Filter by Color</h6>
                                <div class="widget-desc">
                                    <ul class="d-flex justify-content-between">
                                        {% for color, count in page_obj|colors %}
                                            <li class="{{ color }}" ><a href="?color={{ color }}"><span>({{ count }})</span></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="widget size mb-50">
                                <h6 class="widget-title mb-30">Filter by Size</h6>
                                <div class="widget-desc">
                                    <ul class="d-flex justify-content-between">
                                        {% for size in sizes %}
                                            <li><a href="?size={{ size }}">{{ size }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="shop_grid_product_area">
                            <div class="row">

                                {% for product in page_obj %}
                                    <div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.2s">
                                        <!-- Product Image -->
                                        <div class="product-img">
                                            <img src="{{ STATIC_URL }}{{ product.image }}" alt="">
                                            <div class="product-quicview">
                                                <a href="{% url 'product-details' %}{{ product.slug }}"><i class="ti-plus"></i></a>
                                            </div>
                                        </div>
                                        <!-- Product Description -->
                                        <div class="product-description">
                                            <h4 class="product-price" style="color: #ff084e">{% if product.prev_price > 0.0 %}<s style="color: #9f9f9f">${{ product.prev_price }}</s> {% endif %}${{ product.price }}</h4>
                                            <p>{{ product.name }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="shop_pagination_area wow fadeInUp" data-wow-delay="1.1s">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-sm">
                                    {% for i in page_obj.paginator %}
                                        <li class="page-item{% if i.number == page_obj.number %} active{% endif %}">
                                            <a class="page-link" href="?page={{ i.number }}">{{ i.number }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </section>
{% endblock %}