{% extends 'red/base.html' %}
{% load static repl %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
  <div class="signup-form">
    <form action="{% url 'signup' %}" method="post" class="form-horizontal">
		{% csrf_token %}
      	<div class="row">
        	<div class="col-8 offset-4">
				<h2>Sign Up</h2>
			</div>
      	</div>
        <div class="form-group row">
			<label class="col-form-label col-4">Username</label>
			<div class="col-8">
                {{ form.login }}
            </div>
			<small>
				{{ form.login.errors }}
				Required. 48 characters or fewer. Letters, digits and @/./+/-/_ only.
			</small>
        </div>
		<div class="form-group row">
			<label class="col-form-label col-4">Email Address</label>
			<div class="col-8">
                {{ form.email }}
            </div>
        </div>
		<div class="form-group row">
			<label class="col-form-label col-4">Phone number (XXXYYYZZTT)</label>
			<div class="col-8">
                {{ form.phone }}
            </div>
        </div>
		<div class="form-group row">
			<label class="col-form-label col-4">Password</label>
			<div class="col-8">
                {{ form.password }}
            </div>
			<small>
				{{ form.password.errors }}
				Your password can’t be too similar to your other personal information. <br>
				Your password must contain at least 8 characters. <br>
				Your password can’t be a commonly used password. <br>
				Your password can’t be entirely numeric.
			</small>
        </div>
		<div class="form-group row">
			<label class="col-form-label col-4">Confirm Password</label>
			<div class="col-8">
                {{ form.confirm_password }}
            </div>
        </div>
		<div class="form-group row">
			<div class="col-8 offset-4">
				<p><label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a>.</label></p>
				<button type="submit" class="btn btn-lg">Sign Up</button>
			</div>
		</div>
    </form>
	<div class="text-center">Already have an account? <a href="{% url 'login' %}">Log In here</a></div>
</div>
</div>
{% endblock %}